<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech Recognition Control</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" integrity="sha512-WyVI1N+3PUrbvx9dthJjnv+eLcZOAFD/LjRSXcwRzRL0DufUBZavJnFfn2EGIbMlHZhRd99f6h/VK93Q5ZjovQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected');
        });

        socket.on('recognized_text', function(data) {
            var recognizedTextElement = document.getElementById('recognized-text');
            recognizedTextElement.innerHTML += data.text + '<br>';
        });

        function startSpeechRecognition() {
            fetch('/start', {
                method: 'POST'
            }).then(function(response) {
                if (response.ok) {
                    console.log('Speech recognition started.');
                } else {
                    console.error('Failed to start speech recognition.');
                }
            }).catch(function(error) {
                console.error('Error:', error);
            });
            return false; // Prevent form submission
        }

        function stopSpeechRecognition() {
            fetch('/stop', {
                method: 'POST'
            }).then(function(response) {
                if (response.ok) {
                    console.log('Speech recognition stopped.');
                } else {
                    console.error('Failed to stop speech recognition.');
                }
            }).catch(function(error) {
                console.error('Error:', error);
            });
            return false; // Prevent form submission
        }

        function updateRecognizedText() {
            fetch('/get_text')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('recognized-text').innerText = data.text;
                })
                .catch(error => console.error('Error:', error));
        }

        setInterval(updateRecognizedText, 2000); // Update every 2 seconds
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1>ACCENT BRIDGE <p> Real time accent correction </p> </h1>
        </header>
        <form onsubmit="return startSpeechRecognition()">
            <button type="submit">Start Speech Recognition</button>
        </form>
        <form onsubmit="return stopSpeechRecognition()">
            <button type="submit">Stop Speech Recognition</button>
        </form>

<!--        <div id="recognized-text">#}
{#        </div>#} -->

<!--        <div class="bottom">-->
<!--            <form action="../templates/result.html" method="get">-->
<!--                <button class="bottom-button" type="submit">Result</button>-->
<!--            </form>-->
<!--        </div>-->
    </div>
</body>
</html>
